@use "duecss/abstracts/breakpoints";

#header {
  background-color: var(--du-color-background);

  // @include breakpoints.media-below(md) {
  //   border-bottom: 1px solid var(--du-color-primary-700);
  // }

  @include breakpoints.media-above(md) {
    --du-color-background: var(--du-color-primary-700);
    --du-color-text: white;
    --du-color-link: var(--du-color-text);
    --du-color-link-hover: var(--du-color-primary-200);
  }
}

.burger-menu-bar,
.burger-menu-bar::before,
.burger-menu-bar::after {
  position: absolute;
  left: 50%;
  width: 30px;
  height: 1px;
  background: currentColor;
  border: 0 solid currentColor;
  margin-left: -15px;
  transition: transform 250ms ease;
}

.burger-menu-bar {
  top: 50%;
  transform: translateY(-50%);

  &::before,
  &::after {
    content: "";
  }

  &::before {
    top: -8px;
  }

  &::after {
    bottom: -8px;
  }

  .burger-menu[status="open"] & {
    background: transparent;
    border-color: transparent;
    transform: rotate(180deg);

    &::before {
      top: 0;
      background: white;
      border-color: white;
      transform: rotate(45deg);
    }

    &::after {
      top: 0;
      background: white;
      border-color: white;
      transform: rotate(-45deg);
    }
  }
}

@include breakpoints.media-below(md) {
  .navigation-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-content: center;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .navigation-link {
      opacity: 0;
      transform: translateY(2rem);
    }

    &:not(.is-open) {
      pointer-events: none;
      visibility: hidden;
      opacity: 0;
    }

    &.is-open {
      transition: opacity 200ms ease;

      .navigation-link {
        transform: translateY(0);
        opacity: 1;
        transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
            calc(var(--delay, 0ms) + 200ms),
          opacity 500ms ease calc(var(--delay, 0ms) + 300ms);
      }
    }
  }
}

.navigation-link {
  width: 100%;
  display: flex;

  @include breakpoints.media-below(md) {
    justify-content: center;
    text-align: center;
  }

  &[aria-current="page"] {
    color: var(--du-color-link-hover);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: var(--du-decoration-thickness);
    text-underline-offset: var(--du-decoration-offset);
  }
}
