@use "duecss/abstracts/breakpoints";

.burger-menu-bar,
.burger-menu-bar::before,
.burger-menu-bar::after {
  position: absolute;
  left: 50%;
  width: 30px;
  height: 1px;
  background: currentColor;
  border: 0 solid currentColor;
  margin-left: -15px;
  transition: transform 250ms ease;
}

.burger-menu-bar {
  top: 50%;
  transform: translateY(-50%);

  &::before,
  &::after {
    content: "";
  }

  &::before {
    top: -8px;
  }

  &::after {
    bottom: -8px;
  }

  burger-menu[status="open"] & {
    background: transparent;
    border-color: transparent;
    transform: rotate(180deg);

    &::before {
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}

.navigation-panel {
  @include breakpoints.media-below(md) {
    position: absolute;
    inset: 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 10;

    .navigation-link {
      opacity: 0;
      transform: translateY(1rem);
    }

    &:not(.is-open) {
      pointer-events: none;
      visibility: hidden;
      opacity: 0;
    }

    &.is-open {
      transition: opacity 200ms ease;

      .navigation-link {
        transform: translateY(0);
        opacity: 1;
        transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
            calc(var(--delay, 0ms) + 100ms),
          opacity 500ms ease calc(var(--delay, 0ms) + 200ms);
      }
    }
  }
}

.navigation-link {
  width: 100%;
  display: block;

  &[aria-current="page"] {
    color: var(--du-color-link);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: var(--du-decoration-thickness);
    text-underline-offset: var(--du-decoration-offset);
  }

  @include breakpoints.media-below(md) {
    text-align: center;
  }

  @include breakpoints.media-above(md) {
    transition-duration: 0;
  }
}
