@use "duecss/abstracts/breakpoints";
@use "duecss/plugins/typography";

.prose {
  --du-prose-space-y: 1.5;

  :where(figure:not(:first-child):not(.pulled-left):not(pulled-right)) {
    margin-top: calc(2rem * var(--du-prose-space-y, 1));
  }

  :where(figure:not(:last-child):not(.pulled-left):not(pulled-right)) {
    margin-bottom: calc(2rem * var(--du-prose-space-y, 1));
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-weight: 400;
    font-family: var(--du-font-family-heading);

    a {
      color: inherit;
      text-decoration-line: none;
    }
  }

  :where(figure) {
    &.pulled-left {
      width: 45%;
      float: left;
      margin-right: 2rem;
    }

    &.pulled-right {
      width: 45%;
      float: right;
      margin-left: 2rem;
      margin-right: -1.875rem;
    }

    &.emphasized {
      margin-right: -1.875rem;
    }

    @include breakpoints.media-below(sm) {
      &:not(.pulled-left):not(.pulled-right):not(.emphasized) {
        margin-left: -1.875rem;
        margin-right: -1.875rem;
      }
    }

    @include breakpoints.media-below(md) {
      &.pulled-left,
      &.emphasized {
        margin-left: -1.875rem;
      }
    }

    @include breakpoints.media-above(2xl) {
      &.pulled-right,
      &.emphasized {
        margin-right: calc(-25% - 1.875rem);
      }
    }
  }

  :where(figcaption) {
    font-size: 0.75em;
    color: var(--du-color-contrast-medium);
    line-height: var(--du-line-height-normal);
  }
}
