@use "duecss/abstracts/breakpoints";
@use "duecss/plugins/typography";

.prose {
  --du-prose-space-y: 1.5;

  :where(figure:not(:first-child)) {
    margin-top: calc(2rem * var(--du-prose-space-y, 1));
  }

  :where(figure:not(:last-child)) {
    margin-bottom: calc(2rem * var(--du-prose-space-y, 1));
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-weight: 400;
    font-family: var(--du-font-family-heading);

    a {
      color: inherit;
      text-decoration-line: none;
    }
  }

  :where(figure) {
    margin-left: -1.125rem; // ml-lg
    margin-right: -1.125rem; // mr-lg

    @include breakpoints.media-above(sm) {
      &:not([class]),
      &.full-width,
      &.pulled-left {
        margin-left: -1.875rem; // ml-3xl
      }

      &:not([class]),
      &.full-width,
      &.pulled-right {
        margin-right: -1.875rem; // mr-3xl
      }

      &.pulled-left {
        width: 45%;
        float: left;
        margin-top: 0;
        margin-right: 2rem;
        margin-bottom: calc(0.5rem * var(--du-prose-space-y, 1));
      }

      &.pulled-right {
        width: 45%;
        float: right;
        margin-top: 0;
        margin-bottom: calc(0.5rem * var(--du-prose-space-y, 1));
        margin-left: 2rem;
      }

      &.no-default {
        margin-left: 0;
        margin-right: 0;
      }
    }

    @include breakpoints.media-above(md) {
      &.pulled-left,
      &.full-width {
        margin-left: 0;
      }
    }

    @include breakpoints.media-above(2xl) {
      &.pulled-right,
      &.full-width {
        margin-right: calc(-25% - 1.875rem);
      }
    }
  }

  :where(figcaption) {
    font-size: 0.75em;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: var(--du-color-contrast-medium);
    line-height: var(--du-line-height-normal);
  }
}
