.skip-link {
  display: inline-block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: var(--du-color-primary);
  color: white;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  z-index: 30;

  &:hover {
    background-color: var(--du-color-accent-500);
    color: white;
  }

  &:not(:focus) {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
