@layer properties, theme, base, foundations, components, default;

@import "base/base.css";
@import "base/prose.css";

@import "components/medium-zoom.css";
@import "components/navigation.css";
@import "components/prose.custom.css";
@import "components/skip-link.css";

@import "uno.css";
