@layer properties, theme, base, icons, foundations, components, shortcuts, default;

@import "uno.css";

@import "base/base.css";
@import "base/prose.css";

@import "components/medium-zoom.css";
@import "components/navigation.css";
@import "components/prose.css";
@import "components/skip-link.css";
