@use "duecss/abstracts/breakpoints";

:root {
  --du-font-family-normal: "Jost", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --du-font-family-heading: "Silverknife", sans-serif;
  --du-text-scale-ratio: 1.333;
  --du-line-height-heading: calc(1ex / 0.6);

  // Custom due root variables
  --du-decoration-thickness: max(1px, 0.05em);
  --du-decoration-offset: max(2px, 0.15em);
}

:root:not([data-theme]),
[data-theme="light"] {
  --du-color-background: #fafaf9;
  --du-color-link: var(--du-color-text);
  --du-color-link-hover: var(--du-color-primary-500);
}

[data-theme="dark"] {
  --du-color-background: var(--du-color-primary-700);
  --du-color-text: white;
  --du-color-link: var(--du-color-text);
  --du-color-link-hover: var(--du-color-primary-200);
}

// Set `data-theme` effects manually
#sidebar {
  background-color: var(--du-color-background);

  @include breakpoints.media-below(md) {
    --du-color-link-hover: var(--du-color-accent-700);
  }

  @include breakpoints.media-above(md) {
    --du-color-background: var(--du-color-primary-700);
    --du-color-text: white;
    --du-color-link: var(--du-color-text);
    --du-color-link-hover: var(--du-color-primary-200);
  }
}
