@font-face {
  font-family: "Silverknife";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("Silverknife-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Silverknife";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("Silverknife-RegularItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Silverknife";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("Silverknife-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Silverknife";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("Silverknife-BoldItalic.woff2") format("woff2");
}
